.example-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  min-width: 300px;
  max-width: 500px;
  margin: auto;
  margin-bottom: 20px;
  border: 2px solid pink;
  border-radius: 20px;
  background-color: rgb(253, 235, 238);
}

.example-full-width {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 16px;
}

.title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #4e4a4a;
}
