<form class="example-form" [formGroup]="formGroup">
  <mat-form-field class="example-full-width">
    <mat-label>Название</mat-label>
    <input
      type="text"
      matInput
      formControlName="name"
      placeholder="Мегаробот"
    />
    @if (formGroup.controls.name.hasError('required')) {
    <mat-error>Название <strong>обязательно</strong></mat-error>
    }
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Тип</mat-label>
    <input
      type="text"
      matInput
      formControlName="type"
      placeholder="Носильщик"
    />
    @if (formGroup.controls.type.hasError('required')) {
    <mat-error>Тип <strong>обязателен</strong></mat-error>
    }
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Статус</mat-label>
    <mat-select formControlName="status">
      <mat-option value="active">active</mat-option>
      <mat-option value="offline">offline</mat-option>
    </mat-select>
    @if (formGroup.controls.status.hasError('required')) {
    <mat-error>Статус <strong>обязателен</strong></mat-error>
    }
  </mat-form-field>
  <div class="actions">
    <button
      mat-raised-button
      [disabled]="formGroup.invalid"
      (click)="onCreateOrEdit()"
    >
      {{ data?.name ? "Сохранить" : "Создать" }}
    </button>
    <button mat-raised-button (click)="onNoClick()">Отменить</button>
  </div>
</form>
